<!DOCTYPE html>
<html lang="en">

<head>
	<%- include('../partials/htmlHead') %>
	<link rel="stylesheet" href="css/main.css">
    <title>Info Site</title>
</head>

<body>
	<%- include('../partials/header') %>
    <%- include('../partials/menu', {pageIdCode: 'books'})%>
    <div>
        <p>There are
            <%= books.length %> books.
        </p>
        <ul>
            <% books.forEach((book) => { %>
            <li>
                <%= book.title %>
            </li>
            <% }) %>
        </ul>
    </div>
</body>

</html>